@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  border: 1px solid red;
}

/* Set box-sizing for all elements */
*,
:after,
:before {
  box-sizing: border-box;
}

/* Create color variables */
:root {
  --lm-royal-blue: #0079ff;
  --lm-indigo: #697c9a;
  --lm-violet: #4b6a9b;
  --lm-black: #2b3442;
  --uni-light-blue: #f6f8ff;
  --uni-white: #fefefe;
  --dm-white: #ffffff;
  --dm-black: #141d2f;
  --dm-navy: #1e2a47;
}

/* Typogoraphy */
html {
  --h1-font-size: 26px;
  --h1-fw: 700;
  --h1-font-style: normal;
  --h1-line-height: 39px;

  --h2-font-size: 22px;
  --h2-fw: 700;
  --h2-font-style: normal;
  --h2-line-height: 33px;

  --h3-font-size: 16px;
  --h3-fw: 400;
  --h3-font-style: normal;
  --h3-line-height: 24px;

  --h4-font-size: 13px;
  --h4-fw: 400;
  --h4-font-style: normal;
  --h4-line-height: 20px;

  --body-font-size: 15px;
  --body-fw: 400;
  --body-font-style: normal;
  --body-line-height: 25px;
}
/* Widths */
html {
  --mobile-app-width: 375px;
  --tablet-app-width: 768px;
  --desktop-width: 1440px;
}


/* Remove the body margin */
body {
  margin: 0;
  padding: 0 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

body,
input {
  font-family: "Space Mono";
  background-color: var(--dm-black);
}
h1 {
  color: var(--uni-white);
}

.container {
  display: grid;
  max-width: var(--mobile-app-width);
}
.form-wrapper {
  width: 327px;
}

#submit-btn {
  width: 84px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: var(--tablet-app-width);
  }
  .form-wrapper {
    width: 573px;
  }
  #submit-btn {
    width: 106px;
  }
  
}


@media only screen and (min-width: 1440px) {
  .container {
    max-width: var(--desktop-width);
  }
  .form-wrapper {
    width: 730px;
  }
 
  
}
